.header-logo {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-left: 8px;

  & > svg {
    overflow: visible;
  }

  @media (max-width: 525px) {
    padding: 0;
    transform: scale(0.9);
  }
  @media (max-width: 425px) {
    width: 40px;
    transform: scale(0.6);
  }
}
